<div data-aos="@AnimationName"
     data-aos-delay="@Delay"
     data-aos-duration="@Duration"
     data-aos-easing="@Easing"
     data-aos-offset="@Offset"
     class="@Class"
     style="@Style">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string AnimationName { get; set; } = "fade-up";
    [Parameter] public string Duration { get; set; } = "1000"; // ms
    [Parameter] public string Delay { get; set; } = "0";       // ms
    [Parameter] public string Easing { get; set; } = "ease";   // easing function
    [Parameter] public string Offset { get; set; } = "120";    // px
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
}
